<!-- start: PAGE TITLE -->
<div ng-controller="RoutesCtrl">
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle">User Route Tracker</h1>
                <span class="mainDescription">Route</span>
                <button ng-click="getPoints()" class="btn btn-sm btn-primary"> Get Points</button>
            </div>
        </div>
    </section>
    {{routes}}
    <!-- end: PAGE TITLE -->
    <!-- start: BASIC MAP -->
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="over-title margin-bottom-15">Route <span class="text-bold">Tracking Map</span></h5>
                <ui-gmap-google-map  ng-show="!loading" center='map.center' zoom='map.zoom'>
                    <ui-gmap-markers models="markers" events="'events'" coords="'coords'" icon="'icon'"
                                     doCluster="false" title="'title'" idKey="'idKey'" fit="true"
                                     size="'markerSize'" options="'options'">
                    </ui-gmap-markers>
                    <!-- Manual Search Area -->
                </ui-gmap-google-map>
                <div class="center-block" id="circularG" ng-show="loading" class="center">
                    <div id="circularG_1" class="circularG">
                    </div>
                    <div id="circularG_2" class="circularG">
                    </div>
                    <div id="circularG_3" class="circularG">
                    </div>
                    <div id="circularG_4" class="circularG">
                    </div>
                    <div id="circularG_5" class="circularG">
                    </div>
                    <div id="circularG_6" class="circularG">
                    </div>
                    <div id="circularG_7" class="circularG">
                    </div>
                    <div id="circularG_8" class="circularG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>